<div class="row">
    <div class="col-12">
      <div class="col-6 float-left">
        <div class="list-group-item clearfix">
          <div class="float-left">
              <h4 class="list-group-item-heading">{{ contact.name }}</h4>
              <h6 class="list-group-item-text">Phone: {{ contact.phone }}</h6>
              <h6 class="list-group-item-text">Email: {{ contact.email }}</h6>
          </div>
          <div class="float-right">
              <button class="btn btn-danger" (click)="deletContact(index)">x</button>
              <button class="btn btn-light" (click)="showEditForm($event)" [routerLink]="['/contactList', index, contact.name, 'edit']">EDIT</button>
          </div>
        </div>
      </div>
      <div class="col-6 float-right">
        <app-edit-contact *ngIf="this.showEditBool" ></app-edit-contact>
      </div>
    </div>
  </div>